{% extends 'base.html.twig' %}

{% block body %}

    {% if orders %}
        <table>
            <thead>
            <tr>
                <td>No.</td>
                <td>Name</td>
                <td>City</td>
                <td>Area</td>
            </tr>
            </thead>

            <tbody>
                {% for order in orders %}
                   <tr
                        {% if order.seen == false %}
                             style="background-color: red;"
                        {% endif %}
                    >
                        <td>{{ order.id }}</td>
                        <td> <a href="{{ path('details', {'id': order.id}) }}">{{ order.clientName }}</a></td>
                        <td>{{ order.clientCity }}</td>
                        <td>{{ (order.width * order.height)|round(1, 'common') }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No orders.</p>
    {% endif %}

{% endblock %}